 /* About Page */
html, body {
    background-image: url("../images/subtlegrey.png");
}

.custom-border {
    border-bottom: 3px solid #cccccc;
}

.custom-background {
    background-color: #4aaaa5;
    padding: 10px;
}

h1 {
    font-size: 18pt;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2 {
    margin-top: 30px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h5 {
    color: #4aaaa5;
    margin-top: 0;
}

.container {
    background-color: #ffffff;
    margin-top: 10px;
    border: 2px solid #dddddd;
}

.container\mt-5\mb-5 {
    padding: 10px;
}

.col-md-6\mb-5 {
    text-align: center;
}

.navbar-brand {
    color: #ffffff;
    height: 50px;
    text-align: center;
    font-size: 12pt;
    padding: 0rem 1rem;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #4aaaa5;

}

#about {
    border-right: 1px solid #777777;
}

#portfolio {
    border-right: 1px solid #777777;
}

#technical {
    border-right: 1px solid #777777;
}
.custom-footerborder {
    border-top: 5px solid #4aaaa5;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#inIcon {
    float: right;
}

#gh {
    float: right;
    margin-top: 5px;
    margin-left: 50px;
}

#emailIcon {
    float: right;
    margin-top: 5px;
    margin-left: 50px;
}

#pdfIcon {
    margin-top: 5px;
}

/* Portfolio Page */
#ghIcon {
    float: right;
}

.card {
    border: none;
}

.card-img {
    padding: 5px;
    margin-top: 15px;
    border: 1px solid black;
}

#datatrakbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 254px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#empdirectorybox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 254px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#yumtrucksbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 254px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#eatburgerbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 254px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#hikersguidebox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 254px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#dayplanbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 254px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#codequizbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 254px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#pwgenbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 254px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

/* Technical Page */
/* Platforms & Languages */
#intro {
    text-align: center;
}

#portfolio {
    text-align: center;
}

#credentials {
    text-align: center;
}

#skills {
    text-align: center;
}

#contactForm {
    text-align: center;
}

#apps {
    height: 960px;
}

/* h2 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    float: center;
} */

h3 {
    font-size: 50pt;
}

.icon {
    font-size: 35pt;
    display: inline-block;
    padding: 15px;
}

.scrollUp {
    margin-top: 130px;
    margin-left: 150px;
    float: right;
    border: none;
    color: #4aaaa5;
    font-size: 30px;
}

li.education {
    list-style-type: none;
    color: #4aaaa5;
    font-size: 12pt;
}

#certs {
    clear: right;
}

/* Contact Page */
#emailIcon {
    float: right;
}

.btn\btn-primary {
    background-color: #4aaaa5;
    color: #ffffff;
}

.custom-button {
    background-color: #4aaaa5;
    padding: 5px;
}

section {
    padding-bottom: 10px;
}

.custom-outline {
    border-color: #4aaaa5;
}

.text-white {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
}

.githubIcon {
    color: #777777;
}

.linkedInIcon {
    color: #777777;
}

.resumeIcon {
    color: #777777;
}

.emailIcon {
    color: #777777;
}

a {
    color: #4aaaa5;
}

a:hover {
    color: #777777;
}

form, .btn {
    color: #4aaaa5;
}

form, .btn:hover {
    color: #777777;
}

/* Social Media Icons */
.wrapper {
    float: right;
}

.githubIcon {
    text-align: right;
}

.linkedInIcon {
    text-align: right;
}