 /* About Page */
html, body {
    background-image: url("../images/subtlegrey.png");
}

.custom-border {
    border-bottom: 3px solid #cccccc;
}

.custom-background {
    background-color: #4aaaa5;
    padding: 10px;
}

h1 {
    font-size: 18pt;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2 {
    margin-top: 30px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.container {
    background-color: #ffffff;
    margin-top: 10px;
    border: 2px solid #dddddd;
}

.container\mt-5\mb-5 {
    padding: 10px;
}

.col-md-6\mb-5 {
    text-align: center;
}

.navbar-brand {
    color: #ffffff;
    height: 50px;
    text-align: center;
    font-size: 12pt;
    padding: 0rem 1rem;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #4aaaa5;

}

#about {
    border-right: 1px solid #777777;
}

#portfolio {
    border-right: 1px solid #777777;
}

.custom-footerborder {
    border-top: 5px solid #4aaaa5;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Portfolio Page */
#marvelbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#harrypotterbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#silverwindbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#starwarsbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#hungergamesbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#xmenbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    font-size: 12pt;
    padding: 12px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

/* Contact Page */
.btn\btn-primary {
    background-color: #4aaaa5;
    color: #ffffff;
}

.custom-button {
    background-color: #4aaaa5;
    padding: 5px;
}

section {
    padding-bottom: 10px;
}